.auth {
  background: url("../assets/authBg.png") center/cover no-repeat;
  &__content {
    padding: 20vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__subtitle {
    color: var(--Black, #111);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__title {
    color: #111;

    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2.4px;
    margin: 12px 0 32px;
    span {
      color: var(--Accent, #7535FC);
    }
  }
}