.form {
  border-radius: 10px;
  background: #FFF;
  backdrop-filter: blur(5px);
  padding: 40px 24px;
  min-width: 350px;
  position: relative;
  &__loading {
    position: absolute;
    background: rgba(0, 0, 0, 0.80);
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: no-drop;
    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__title {
    color: #7535FC;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
  }
  &__subtitle {
    color: #ABA8AD;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0 32px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    label {
      color: #1F1F1F;
      font-size: 12px;
      font-weight: 600;
    }
    input {
      border-radius: 10px;
      background: var(--BG, #F0EFF3);
      padding: 12px;
      border: none;
      outline-color: #7535FC;
    }
    &-error {
      color: var(--Red, #FC3535);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-checkbox {
      display: flex;
      align-items: center;
      column-gap: 8px;
      input {
        cursor: pointer;
        width: 16px;
        height: 16px;
      }
      p {
        color: var(--Black-light, #1F1F1F);
        font-size: 12px;
        font-weight: 400;
      }
      &-span {
        color: var(--Black-light, #1F1F1F);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
      }
    }
  }
  &__btn {
    border-radius: 10px;
    background: var(--Accent, #7535FC);
    padding: 12px 24px;
    border: none;
    width: 100%;
    color: var(--White, #FFF);
    font-size: 15px;
    font-weight: 400;
    margin: 36px 0;
    &:hover {
      background: var(--Accent-dark, #5726BF);
    }
  }
  &__questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: var(--Black-light, #1F1F1F);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-link {
      color: var(--Black-light, #1F1F1F);
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      background: none;
      display: flex;
      align-items: center;
      column-gap: 12px;
      &_logo {
        font-size: 25px;
      }
      &:hover, &:hover &_logo {
        color: #7535FC;
      }
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: -24px 0 36px;
    &-item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ABA8AD;
      &.active {
        background: #7535FC;
      }
    }
  }
}