.companions {
  display: flex;
  flex-direction: column;
  width: 35%;
  background: #FFFFFF;
  border-radius: 10px 0 0 10px;
  padding-top: 5px;
  overflow: auto;
  padding-bottom: 24px;
  height:  calc(100vh - 48px);
  border-right: 1px solid #ABA8AD;
  &::-webkit-scrollbar {
    width: 5px;
    background: #DAD4E4;
  }
  &::-webkit-scrollbar-thumb {
    background: #5726BF;
  }
  &__item {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #FFFFFF;
    &:hover {
      background: var(--Accent-very-light, #F3EEFF);
    }
    &-right {
      display: flex;
      flex-direction: column;
      text-align: end;
      row-gap: 6px;
    }
    &-left {
      display: flex;
      align-items: center;
      column-gap: 12px;
      flex: 1;
      overflow: hidden;

    }
    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      width: 100%;
    }
    &-username {
      color: var(--Accent-dark, #5726BF);
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* Указывает максимальное количество отображаемых строк */
      -webkit-box-orient: vertical;
    }
    &-message {
      color: #3E3E3E;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* Указывает максимальное количество отображаемых строк */
      -webkit-box-orient: vertical;

      &::before {
        content: '...';
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 12px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 50%);
      }
    }
    &-data {
      overflow: hidden;
      color: var(--Gray, #ABA8AD);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-count {
      border-radius: 50%;
      background: #7535FC;
      color: var(--White, #FFF);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.message {
  display: flex;
  flex-direction: column;
  width: 65%;
  background: #FFFFFF;
  border-radius: 0 10px 10px 0;
  padding: 5px 10px 0;
  overflow: auto;
  height:  calc(100vh - 48px);
  position: relative;
  &::-webkit-scrollbar {
    width: 5px;
    background: #DAD4E4;
  }
  &::-webkit-scrollbar-thumb {
    background: #5726BF;
  }
  .addcomment {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: left;
    padding: 4px 0;
    span {
      padding: 12px;
      border-radius: 0 10px 10px 10px;
      background: var(--Accent-very-light, #F3EEFF);
      color: var(--Black, #111);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      width: 60%;

    }
    &.data {
      display: flex;
      justify-content: center;
      span {
        width: auto;
        border-radius: 29px;
        background: var(--Accent-very-light, #F3EEFF);
      }
    }
    &.user {
      justify-content: end;
      span {
        background: #7535FC;
        color: var(--White, #FFF);
        border-radius: 10px 0 10px 10px;
      }
    }
  }
}