.layout {
  display: flex;
  padding-top: 24px;
  column-gap: 24px;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border-radius: 10px;
  background: #FFF;
  width: calc(20% - (48px / 3));
  height: 600px;
  overflow: auto;
  padding: 24px;
  &__logo {

  }

  &__link {
    padding: 12px 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--Black, #111);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 10px;
    &-text {
      span {
        margin-left: 8px;
        padding: 2px 8px;
        border-radius: 50%;
        background: var(--Accent, #7535FC);
        color: #FFFFFF;
      }
    }
    &:hover {
      background: var(--Accent-very-light, #F3EEFF);
    }
    &.active {
      color: var(--White, #FFF);
      background: var(--Accent, #7535FC);
      transition: 0.3s;
    }
    &.active  &-text {
      span {
        margin-left: 8px;
        padding: 2px 8px;
        border-radius: 50%;
        background: #FFFFFF;
        color: #5726BF;
        font-weight: 500;
      }
    }
  }

  &__hr {
    background: var(--Gray-light, #DAD4E4);
  }
}